/* Global Styles */
body {
    background-color: #fff;
    color: #000;
    margin: 0;
    overflow-x: hidden;
  }
  
  h1 {
    color: #832e2b;
  }
  
  p {
    font-size: 18px;
  }
  
  .container-fluid {
    padding: 2% 10%;
  }
  
  /* Navbar Styles */
  .nav-bg {
    background-color: #fff;
    border: 1.5px solid #fff;
    border-bottom-color: hsl(0, 0%, 65%);
  }
  
  .navbar-brand {
    font-size: 24px;
    color: #832e2b;
    font-weight: 700;
  }
  
  /* 3D Container Styles */
  #container3D canvas {
    width: 100vw !important;
    height: 75vh !important;
    display: block;
  }
  
  /* Arrow Styles */
  .arrow {
    margin-bottom: 16rem;
  }
  
  #arrow-down p {
    font-size: 44px;
  }
  
  /* Image Styles */
  img {
    color: #fff;
  }
  
  /* Hover Styles */
  span:hover {
    font-size: 32px;
    transition: 0.2s;
    cursor: pointer;
  }
  
  /* Video Styles */
  video {
    width: 100%;
  }
  
  /* Description Container Styles */
  .desc-container {
    margin-bottom: 6rem;
  }
  
  /* Contributions Container Styles */
  .contributions-container {
    margin-top: 6rem;
  }
  
  /* Role Styles */
  .role {
    color: #832e2b;
  }
  
  /* Overlay Styles */
  .overlay {
    pointer-events: none; /* Allows user interaction with the canvas */
  }
  
  /* Media Query for Small Screens */
  @media (max-width: 476px) {
    #container3D canvas {
      width: 100vw !important;
      height: 50vh !important;
      display: flex;
      flex-direction: column;
    }
  
    .desc-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  